.banner{
	background-image: url(banner.png);
	height: 700px;
	background-size: 100% 100%;
	text-align: center;
}
.h1{
	color: white;
	padding-top: 100px;
}
body{
			font-family: arial;
		}
.df{
	display: flex;
}
h3{
	color: black;
	margin-left: 30px;
}
.p6{
	color: white;
	margin-left: 55px;
	width: 300px;
}
.mt{
	margin-top: 90px;
	margin-left: 150px;
}
.p{
	color: white;
	text-align: center;
}

